<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gotplants?</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="hero">
            <form id="user-form">
                <input id="search" type="text" class="form-input" placeholder="Keyword" />
                <button type="submit" id="search-btn">submit</button>
            </form>
            <h1>
                <a href="/">gotplants?</a>
            </h1>
            <nav class="nav">
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <a href="/">logout</a>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            happy planting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>