<section>
    <h2>Create New Post</h2>

    <form class="new-post-form" enctype="multipart/form-data" action="add.php" method="POST">
        <div>
            <label for="post-title">title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post_body">content</label>
            <input id="post_body" name="post_body" />
        </div>
        {{!-- <div>
            <label for="post_photo">photo</label>
            <input type="file" name="photo">
        </div> --}}
        <button type="submit" class="btn">create</button>
    </form>

    {{#if posts.length}}
    <section>
        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <ul class="post-wrapper">
                {{> post-info post}}
                <br>
                <a href="/dashboard/edit/{{post.id}}">
                    <button>edit post</button>
                </a>
            </ul>
            {{/each}}
        </ol>
    </section>
    {{/if}}
</section>
<script src="/javascript/add-post.js"></script>