<div>
  <h3>Login</h3>
  <form id="login-form">
    <label for="username-login">Username</label>
    <input name="username" id="username-login" type="text" autofocus="true"/>

    <label for="password-login">Password</label>
    <input name="password" id="password-login" type="password" autofocus="true"/>

    <button type="submit">Login!</button>
    <a class="login-link" href="/signup">Sign up instead</a>
  </form>
</div>
    
<script src="/javascript/login.js"></script>