<div>
  <h3>Sign Up</h3>
  <form id="signup-form">
    <label for="username-signup">Username</label>
    <input id="username-signup" type="text"/>
    <label for="password-signup">Password</label>
    <input  id="password-signup" type="password"/>
    <button type="submit">Signup!</button>
    <a class="login-link" href="/login">Log in instead</a>
  </form>
</div>

<script src="/javascript/signup.js"></script>